<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Vehicule</title>

    <!-- Fontfaces CSS-->
    <link href="css/font-face.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <img src="images/icon/logo.png" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li>
                            <a th:href="@{/index}">
                                <i class="fas fa-chart-bar"></i>Acceuil</a>
                        </li>					
                        <li>
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Vehicules</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a hth:href="@{/vehiculeMarque}">Marque Vehicule</a>
                                </li>
                                <li class="active has-sub">
                                    <a th:href="@{/vehicule}">Liste des Vehicule</a>
                                </li>
                            </ul>
                        </li>
                        <li >
                            <a th:href="@{/client}">
                                <i class="fas fa-table"></i>Client</a>
                        </li>
                        <li>
                            <a th:href="@{/contrat}">
                                <i class="far fa-check-square"></i>Contrat</a>
                        </li>
                        <li>
                            <a th:href="@{/reservation}">
                                <i class="fas fa-calendar-alt"></i>Reservation</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="images/icon/logo.png" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li>
                            <a th:href="@{/index}">
                                <i class="fas fa-chart-bar"></i>Acceuil</a>
                        </li>
                        <li >
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Vehicules</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a th:href="@{/vehiculeMarque}">Marque Vehicule</a>
                                </li>
                                <li class="active has-sub">
                                    <a th:href="@{/vehicule}" >Liste des Vehicule</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a th:href="@{/client}">
                                <i class="fas fa-table"></i>Client</a>
                        </li>
                        <li>
                            <a th:href="@{/contrat}">
                                <i class="far fa-check-square"></i>Contrat</a>
                        </li>
                        <li>
                            <a th:href="@{/reservation}">
                                <i class="fas fa-calendar-alt"></i>Reservation</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
                        <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST">
                                <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for datas &amp; reports..." />
                                <button class="au-btn--submit" type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </form>
                            <div class="header-button">
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img alt="" th:src="@{'/images/icon/' + ${#authentication.getPrincipal().getUsername()} + '.jpg'}" />
                                        </div>
                                        <div class="content">
                                            <a class="username" th:text="${#authentication.getPrincipal().getUsername()}">Guest</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">                                            
                                            <div class="account-dropdown__footer">
                                                <a th:href="@{logout}">
                                                    <i class="zmdi zmdi-power"></i>Deconnecter</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- DATA TABLE -->
                                <h3 class="title-5 m-b-35">Liste des Vehicule</h3>
                                <div class="table-data__tool">
                                    <div class="table-data__tool-left">
                                        
                                        </div>
                                    <div class="table-data__tool-right">
                                        <button class="au-btn au-btn-icon au-btn--green au-btn--small" data-toggle="modal" data-target="#ClientModal">
                                            <i class="zmdi zmdi-plus"></i>Ajouter</button>                                      
                                    </div>
                                </div>
                                <div class="table-responsive table-responsive-data2">
                                    <table class="table table-data2">
                                        <thead>
                                            <tr>
                                                <th>Image</th>
                                                <th>Num matriculation</th>
                                                <th>Nom vehicule</th>
                                                <th>Marque vehicule</th>                                                
                                                <th>Date d'achat</th>	
												<th>Compteur en Klm</th>
                                                <th>Couleur vehicule</th>                                                
                                                <th>Disponibilité</th>
                                                <th>Prix</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="tr-shadow" th:each = "c : ${ListVehicules}" >
                                            	<td>
    												 <a id="photoButton" th:href="@{'/images/icon/' + ${c.id_vec} +'.jpg'}">
 														<img th:src="@{'/images/icon/' + ${c.id_vec} +'.jpg'}" width="150" height="150">
 													 </a>
 												</td>
												<td th:text = "${c.num_mat_vec}"></td>                                               
                                                <td th:text = "${c.nom_vec}"></td>  
                                                <td th:text = "${c.marque.nom_mar}"></td>  
												<td th:text = "${c.date_achat_vec}"></td>
                                                <td class="desc" th:text = "${c.klm_compteur_vec}"></td>
                                                <td>
                                                    <span class="block-email" th:text = "${c.couleur_vec}"></span>
                                                </td>
                                                <td th:switch="${c.dispo_vec}"> 
                                               		<span th:case="Oui" class="status--process">Oui</span>										                                                
                                               		<span th:case="Non" class="status--denied">Non</span>										
												</td>                                                  
                                                <td th:text = "${c.prix_vec}"></td>
                                                <td>
                                                    <div class="table-data-feature">
                                                        <button class="item" data-toggle="tooltip" data-placement="top"  title="Reservation">
                                                            <i class="zmdi zmdi-mail-send"></i>
                                                        </button>                                                  
                                                        <a th:href="@{/vehicule/update/{id}(id=${c.id_vec})}" class="item" data-placement="top" title="Edit">
                                                            <i class="zmdi zmdi-edit"></i>
                                                        </a>
                                                        <a th:href="@{/vehicule/delete/{id}(id=${c.id_vec})}" class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                            <i class="zmdi zmdi-delete"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="spacer"></tr>
                                        </tbody>
                                    </table>                               
                                </div>
                                <!-- END DATA TABLE -->
                                
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
    


<div class="modal fade" id="ClientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter une nouvelle vehicule </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
 <div class="modal-body">
<form th:action = "@{/vehicule/addInfo}" method="post">
  	<div class="form-row">
    	<div class="form-group col-md-6">
      		<label >Num matriculation</label>
      		<input type="text" class="form-control"  name="num_mat_vec">
    	</div>
   		<div class="form-group col-md-6">
     		 <label >Nom vehicule</label>
      		 <input type="text" class="form-control" name="nom_vec">
   		 </div>
  	</div>
          <div class="form-group col-12">
		    <label for="ddlCountryDetails" class="col-form-label">Marque vehicule: </label>
			    <select class="form-control" id="ddlCountryAdd" name="id_mar">
			       <option>---Choisie Une marque---</option>			    
			       <option th:each="m : ${ListMarque}"
				        th:value="${m.id}"
				        th:text="${m.nom_mar}">
				   </option>
			    </select>				    
		  </div>
  	<div class="form-group">
    		<label > Date d'achat</label>
    		<input type="date" class="form-control" placeholder=" yyyy-mm-jj" name="date_achat_vec">
    </div>
  	<div class="form-row">
    	<div class="form-group col-md-6">
      		<label >Compteur en Klm</label>
      		<input type="text" class="form-control" name="klm_compteur_vec">
    	</div>
    	<div class="form-group col-md-6">
 			<label >Couleur vehicule</label>
    		<input type="text" class="form-control"  name="couleur_vec" >
    	</div>
  		<div class="form-group col-12">
  		      	<label for="addc" >Disponibilité</label>
  				<select id="addc" class="form-control" name="dispo_vec" >
  					<option selected>--Choisir Disponibilité--</option>
  					<option value="Oui">Oui</option>  
  					<option value="Non">Non</option>  					
				</select>
		</div>
    	<div class="form-group col-md-12">
    		<label >Prix</label>
    		<input type="text" class="form-control"  name="prix_vec">
    	</div>
 	 </div>
 	 <button type="submit" class="btn btn-success" onclick="myFunction()">Ajouter</button>
	 <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
</div>
 <div class="modal-footer">       
</div>
</div>
</form>
  </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="photoModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      		<img id="employeePhoto" src="" width="95%" height="95%">
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div> 

    <!-- Jquery JS-->
    <script src="vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="vendor/slick/slick.min.js">
    </script>
    <script src="vendor/wow/wow.min.js"></script>
    <script src="vendor/animsition/animsition.min.js"></script>
    <script src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="vendor/circle-progress/circle-progress.min.js"></script>
    <script src="vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="js/main.js"></script>
    <script src="js/image.js"></script>



</body>

</html>
<!-- end document-->
